*{

    margin: 0;
    padding: 0;


}

body{

    background: linear-gradient(#0d0d0d,#584599);

    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
   
     

}

/* #lama{

    background-image: url("stars.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

} */




a{

 text-decoration: none;  
 color: aliceblue; 
 
}

header{

display: flex;
justify-content: space-between;
align-items: center;
margin: 20px;
cursor:  default;


}

header.heder{

font-size: 20px;

}

ul{

    display: flex;
    background-attachment: fixed;
    list-style: none;
}

/* li{

    margin-right: 20px;
} */
li a{

    padding: 15px;
    border-radius: 15px;
}
li a:hover{

    background: #8a85dc;
    color: #000;
    border-width: 3px;
    bordr-color:  #584599;
    border-style:dashed;

}





