

.voide{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content{

text-align: center;
/* z-index: 1;
position: relative; */


}

.content h1{

    margin-bottom: 50px;
    
}

.content a{

/* padding: 10px 15px; */
border: 6px;

background-color:#8a85dc ;
padding: 15px ;
margin: 10px;
border-radius: 15px;
font-size: 25px;
/* display: inline-block; */


}

.content a:hover{

   background: #8a85dc;
    
    border-width: 3px;
    bordr-color:  #584599;
    border-style:dashed; 
}


.background-clip{

    position: absolute;
    top: 0; 
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}