*{

    margin: 0;
    padding: 0;


}

body{

background: linear-gradient(#0d0d0d,#584599);
background-image: url("./stars.png");
height: 100vh;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;




}

a{

 text-decoration: none;  
 color: aliceblue; 
}

header{

display: flex;
justify-content: space-between;
align-items: center;
margin: 20px;

}

header.heder{

font-size: 20px;

}

ul{

    display: flex;
    justify-content: center;
    list-style: none;
}

li{

    margin-right: 20px;
}
li a{

    padding: 15px;
    border-radius: 15px;
}
li a:hover{

    background: #8a85dc;
    color: #000;

}