.container,.containerplay {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100vh;

}


.contact22 {

    width: 500px;
    height: 500px;
    background: #584599;
    border-radius: 30px;
    border-style: dashed;
    border-width: 6px;
    border-color: #7e7795;
    transition: transform 0.3s ease;




}

.contact22:hover {

    transform: scale(1.05);
}

.form {

    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    gap: 30px;
    padding: 30px;


}

input,
textarea {

    padding: 10px;
    width: 450px;
    background-color: transparent;
    
    border-radius: 5px;
    border-color: aliceblue;
}





/* ------------------ */


/* .div{
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #584599;
  width: 500px;
  height: 500px;  
} */



.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 500px;
    height: 500px;
    
    margin: auto;
    

    background: #584599;
    border-radius: 30px;
    border-style: dashed;
    border-width: 6px;
    border-color: #7e7795;
}

span {

    font-size: 40px;
}

#chooes {

    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #8a85dc;
    
}

@media(max-width: 600px){

.contact22{

width: 380px;
margin: 40px;


}

input,
textarea {

    width: 300px;
}

}

@media(max-width: 600px){

    .play{

     width: 340px;
    
     text-align: center;
     

    }


}