video{

width: 100%;
max-width: 400px;
object-fit: cover;

border-radius: 18px;

}



.container,.container2,.container3{


    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    line-height: 1.6;
   
   
    
    
}




.container, .container2,.container3 {
  /* border: 3px ; */
  border-radius: 15px;
  border-style: dashed;
  background-color:#584599 ;
  border-color: #7e7795 ;
  min-height: 200px;
 
  padding: 20px;
  margin: 30px;
}




@media{
.inf{

    margin: 15px;
    flex: 1 1 300px;
    box-sizing: border-box;
   
}

}








/* ----------------------- */

